
<nav class="navbar navbar-expand-lg " style="background-color: #ced4da;">
    <div class="container-fluid">
     
      <a class="navbar-brand" >
        <i class="bi bi-file-person-fill"></i>Sara</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            
            <a class="nav-link active"  routerLink="/home"  routerLinkActive="active bg-primary" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  routerLink="/user"  routerLinkActive="active bg-primary" >User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/about"   routerLinkActive="active bg-primary" >about</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
             contact
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink='/phone' routerLinkActive="active bg-primary"  >phone</a></li>
              <li><a class="dropdown-item" routerLink='/email' routerLinkActive="active bg-primary">email</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item"routerLink='/address' routerLinkActive="active bg-primary">Address</a></li>
            </ul>
          </li>
          <li class="nav-item">
            
            <a class="nav-link active"  routerLink="/login"  routerLinkActive="active bg-primary" >login</a>
          </li>
          <li class="nav-item">
            
            <a class="nav-link active"  routerLink="/register"  routerLinkActive="active bg-primary" >register</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>